/* colors used:
Primary color (Blue): #94CEFD
Background color (White): #F5F5F3
Text color (Black): #060C14
*/

@font-face {
font-family: 'eighties';
src: url('fonts/eighties-regular.otf') format('truetype');
}

@font-face {
font-family: 'courier-new';
src: url('fonts/courier-new.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

  body {
    background-color: #F5F5F3;
    font-family: font-family: 'courier-new';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #060C14;
  }

  p {
    font-family: 'courier-new';
    }

  h1 {
    font-family: 'eighties';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 66px;
  }

  h2 {
    font-family: 'eighties';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 55px;
  }

  h3 {
    font-family: 'eighties';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 42px;
  }
img {
width: 100%;
}

a {
color: #060C14;
text-decoration: none;
}

a:hover,
a:focus {
  color: #060C14;
  text-decoration: underline;
}

a:visited {
color: #060C14;
}

.button {
display: inline-block;
background-color: #94CEFD;
color: #060C14;
font-family: 'eighties';
font-weight: 400;
padding: 10px;
border-radius: 2px;
border-bottom: 1px ;
transition: 0.2s opacity;
}

.button:hover {
display: inline-block;
background-color: #94CEFD;
color: #060C14;
font-weight: 400;
padding: 10px;
border-radius: 2px
border-bottom: 1px
transition: 0.8s opacity;
text-decoration: none;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button.contact {
background-color: transparent;
color: #94CEFD;
border: 2px solid #94CEFD;
}

.button.contact: hover {
background-color: #94CEFD;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
color: #060C14;
padding: 13px 76px;
width: 164px;
height: 41px;
left: 1px;
top: 64px;
}

header{
  width: 100%; z-index: 2
  margin: auto;
  background-color: #94CEFD;
  text-align: center;
  padding: 10px 5px 15px 5px;
  box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  position: fixed;
}

.logo {
font-family: 'eighties';
text-align: center;
font-weight: 400;
font-size: 50px;
line-height: 55px;
margin: 10px 0 0 10px;
max-width: 250px;

}

.logo:hover {
text-decoration: none;
}

nav > ul > li {
  display: inline-block;
  padding: 0 15px;
list-style-type: none;
font-family: 'courier-new';
text-align: center;
}

#hero {
  background-color: #94CEFD;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* Layout Styling */

main {
  padding-top:133px;
}

.container {
  padding: 0 15px;
}

#work row {
margin: 25px 0; border-bottom: 1px;
}

#hero h1, p {
  text-align: center;
}

#hero span {
  display: block;
}

#work h2 {
  text-align: center;
}

#contact h2 {
  text-align: center;
}

#contact ul {
  text-align: center;
}

#contact button contact {
  text-align: center;
}

/* Medium devices (640px and larger) */
@media only screen and (min width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

body {
  font-size: 18px
}

col-md-6 {
  width: 50%
}

[class*="col-"] {
  float: left;
  padding: 10px
}

.row::after. {
  content: “”
  clear: both;
  display: table;
}

}


/* Large devices (1024px and larger) */
@media only screen and (min width: 1024px) {
}

/* X-large devices (1440px and larger) */
@media only screen and (min width: 1440px) {
}
