/* colors used:
Primary color (Blue): #94CEFD
Background color (White): #F5F5F3
Text color (Black): #21243D
H4 color: #8695A4
light grey for lines: #E0E0E0

*/

* {
  box-sizing: border-box;
}

  body {
background-color: #F5F5F3;
font-family: 'Heebo', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.6x;
color: #21243D;
  }

  p {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6x;
    color: #21243D;
    }

h1, h2, h3, h4 {
  line-height: 1.4;
}

  h1 {
font-weight: 700;
font-size: 32px;
  }

  h2 {
font-weight: 700;
font-size: 30px;
  }

  h3 {
    font-weight: 700;
    font-size: 24px;
  }

  h4 {
    font-weight: 400;
    font-size: 16px;
    color: #8695A4
  }

img {
width: 100%;
}


a {
color: #060C14;
text-decoration: none;
}

a:hover,
a:focus {
  color: #060C14;
  text-decoration: underline;
}

a:visited {
color: #060C14;
}

.button {
display: inline-block;
background-color: transparent;
color: #21243D;
font-family: 'Heebo', sans-serif;font-weight: 400;
padding: 10px;
border-radius: 2px;
border: 1px solid #21243D;
transition: 0.2s opacity;
}

.button:hover {
display: inline-block;
background-color: #94CEFD;
color: #21243D;
font-family: 'Heebo', sans-serif;font-weight: 400;
padding: 10px;
border-radius: 2px;
border: 1px solid #21243D;
transition: 0.2s opacity;
}

.button.contact {
background-color: transparent;
color: #21243D;
border: 1px solid #21243D;
}

.button.contact: hover {
  display: inline-block;
  background-color: #94CEFD;
  color: #21243D;
  font-family: 'Heebo', sans-serif;font-weight: 400;
border: 1px solid #21243D;
  transition: 0.2s opacity;
}

header{
  width: 100%; z-index: 2
  background-color: #F5F5F3;
  text-align: center;
  padding: 10px 5px 15px 5px;
  box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  position: fixed;
}

.logo {
font-family: 'Heebo', sans-serif;
text-align: center;
font-weight: 700;
font-size: 30px;
line-height: 55px;
max-width: 250px;
color: #21243D;
}

.logo:hover {
text-decoration: none;
}

ul {
padding: 0;
list-style-type: none;
}

#hero {
  background-color: #F5F5F3;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* Layout Styling */

main {
  padding-top:133px;
}

.container {
  padding: 0 15px;
}

#work row {
margin: 25px 0; border-bottom: 1px;
}

#hero span {
  display: block;
}

#contact h2 {
  text-align: center;
}

#contact ul {
  text-align: center;
}

#contact p {
  text-align: center;
}

#button contact {
  text-align: center;
}

# about img {
  border-radius: 50%;
}

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

body {
  font-size: 18px
  text-align: unset;
}

col-md-6 {
  width: 50%
}

[class*="col-"] {
  float: left;
  padding: 10px
}

.row::after. {
  content: “”
  clear: both;
  display: table;
}

}


/* Large devices (1024px and larger) */
@media only screen and (min-width: 1024px) {
}

/* X-large devices (1440px and larger) */
@media only screen and (min-width: 1440px) {
}
